<div id="dashboard" class="container-fluid py-3 px-5">

  <header>
    <h1 class="h2">Dashboard</h1>
    <p class="subtitle">Manage your informations here!</p>
  </header>

  <div id="offers" class="display-card">
    <div class="info-row">
      <h4>Menus</h4>
      <div class="info-row-right">
        <button>Add <i class="fa-solid fa-circle-plus"></i></i></button>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffers" aria-expanded="false" aria-controls="collapseOffers">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseOffers">
      <div class="container-fluid py-3">
        <div class="row">
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="meals" class="display-card">
    <div class="info-row">
      <h4>Meals</h4>
      <div class="info-row-right">
        <button>Add <i class="fa-solid fa-circle-plus"></i></i></button>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapsemeals" aria-expanded="false" aria-controls="collapsemeals">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapsemeals">
      <div class="container-fluid py-3">
        <div class="row">
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
          <div class="card-dashboard col-2">
            <div class="card-dashboard-image">
              <%= image_tag("offers/beef.jpg")%>
              <div class="offers-btn">
                <button class="btn">Update</button>
                <button class="btn">Delete</button>
              </div>
            </div>
            <h5>Beef menu</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="bookings">
    <div class="info-row">
      <h4>Bookings</h4>
      <div class="info-row-right">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapsebookings" aria-expanded="false" aria-controls="collapsebookings">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapsebookings">
      <div class="container-fluid py-3">
        <div class="row">

          <div class="card-dashboard-booking col-6">
            <div class="card-dashboard">
              <div class="header full-width-flex">
                <h4>Menu: Brunch for Two</h4>
                <div class="right">
                  <div>
                    <span>4 guests</span>
                  </div>
                  <div>
                    <span>45€/pers</span>
                  </div>
                </div>
              </div>

              <div class="full-width-flex justify-between">
                <div>
                  <h6>Date</h6>
                  <div class="btn-bookings">10/09/2022</div>
                </div>

                <div>
                  <h6>Address</h6>
                  <div class="btn-bookings">7 Rue Jeanne Lanvin 33100 Bordeaux</div>
                </div>
              </div>

              <div class="full-width-flex justify-between">
                <div class="element">
                  <h6>Comment</h6>
                  <div class="btn-bookings">We are hungry !</div>
                </div>
              </div>

              <div class="full-width-flex review">
                <h6>Review:</h6>
                <p>“That was so good !”</p>
              </div>

              <div class="footer">
                <button class="btn-booking-footer element green">Accept</button>
                <button class="btn-booking-footer element red">Reject</button>
              </div>
            </div>
          </div>

          <div class="card-dashboard-booking col-6">
            <div class="card-dashboard">
              <div class="header full-width-flex">
                <h4>Menu: Brunch for Two</h4>
                <div class="price">
                  <span>45€/pers</span>
                </div>
              </div>

              <div class="full-width-flex justify-between">
                <div>
                  <h6>Date</h6>
                  <div class="btn-bookings">10/09/2022</div>
                </div>

                <div>
                  <h6>Address</h6>
                  <div class="btn-bookings">7 Rue Jeanne Lanvin 33100 Bordeaux</div>
                </div>
              </div>

              <div class="full-width-flex justify-between">
                <div class="element">
                  <h6>Comment</h6>
                  <div class="btn-bookings">We are hungry !</div>
                </div>
              </div>

              <div class="full-width-flex review">
                <h6>Review:</h6>
                <p>“That was so good !”</p>
              </div>

              <div class="footer">
                <button class="btn-booking-footer element green">Accept</button>
                <button class="btn-booking-footer element red">Reject</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
