<div id="dashboard" class="container-fluid py-3 px-5">

  <header>
    <h1 class="h2">Dashboard</h1>
    <p class="subtitle">Manage your informations here!</p>
  </header>

  <% if current_user.chef %>
    <div id="offers" class="display-card">
      <div class="info-row">
        <h4>Menus</h4>
        <div class="info-row-right">
          <%= link_to "offers/new" do %>
            Add <i class="fa-solid fa-circle-plus"></i>
          <% end %>
          <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffers" aria-expanded="false" aria-controls="collapseOffers">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
      <div class="collapse" id="collapseOffers">
        <div class="container-fluid py-3">
          <div class="row">

            <% @offers.each do |offer| %>
              <div class="card-dashboard col-2">
                <div class="card-dashboard-image">
                <% if offer.photo.present? %>
                  <%= cl_image_tag offer.photo.key %>
                <% else %>
                  <%= image_tag("/assets/offers/#{offer.title.downcase}.jpg")%>
                <% end %>
                  <%#= cl_image_tag (image_dans_l’instance), options %>
                  <div class="offers-btn">
                    <%= link_to edit_offer_path(offer), class:"btn" do %>
                      Update
                    <% end %>
                    <%= link_to offer_path(offer),
                        class:"btn",
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                      Delete
                    <% end %>
                  </div>
                </div>
                <h5><%= offer.title %></h5>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <div id="meals" class="display-card">
      <div class="info-row">
        <h4>Meals</h4>
        <div class="info-row-right">
          <%= link_to "meals/new" do %>
            Add <i class="fa-solid fa-circle-plus"></i>
          <% end %>
          <button type="button" data-bs-toggle="collapse" data-bs-target="#collapsemeals" aria-expanded="false" aria-controls="collapsemeals">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
      <div class="collapse" id="collapsemeals">
        <div class="container-fluid py-3">
          <div class="row">

            <% @meals.each do |meal| %>
              <div class="card-dashboard col-2">
                <div class="card-dashboard-image">
                  <% if meal.photo.present? %>
                    <%= cl_image_tag meal.photo.key %>
                  <% else %>
                    <%= image_tag("/assets/meals/beef.jpg") %>
                  <% end %>
                  <%#= cl_image_tag (image_dans_l’instance), options %>
                  <div class="offers-btn">
                    <%= link_to edit_meal_path(meal), class:"btn" do %>
                      Update
                    <% end %>
                    <%= link_to meal_path(meal),
                        class:"btn",
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                      Delete
                    <% end %>
                  </div>
                </div>
                <h5><%= meal.name %></h5>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div id="bookings">
    <div class="info-row">
      <h4>Bookings</h4>
      <div class="info-row-right">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapsebookings" aria-expanded="false" aria-controls="collapsebookings">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapsebookings">
      <div class="container-fluid py-3">
        <div class="row">

          <% @bookings.each do |booking| %>
            <div class="card-dashboard-booking col-6" data-controller="accept-button" data-id="<%=booking.id%>">
              <div class="card-dashboard">
                <div class="header full-width-flex">
                  <h4>Menu: <%= Offer.find(booking.offer_id).title %></h4>
                  <div class="right">

                    <div data-accept-button-target="status">
                      <%= render "booking_status", booking: booking %>
                    </div>


                    <div class="info button">
                      <span>Guests</span>
                      <h5><%= booking.number_of_guests %></h5>
                    </div>
                    <div class="info  button">
                      <span>Amount</span>
                      <h5><%= booking.number_of_guests * Offer.find(booking.offer_id).price_per_person.to_i %> €</h5>
                    </div>
                  </div>
                </div>

                <div class="full-width-flex justify-between">
                  <div>
                    <h6>Date</h6>
                    <div class="btn-bookings">
                      <h5><%= booking.date.strftime("%m/%d/%Y") %></h5>
                    </div>
                  </div>

                  <div>
                    <h6>Address</h6>
                    <div class="btn-bookings">
                      <h5><%= booking.user.address %></h5>
                    </div>
                  </div>
                </div>

                <div class="full-width-flex justify-between">
                  <div class="element">
                    <h6>Comment</h6>
                    <div class="btn-bookings">
                      <h5><%= booking.comments %></h5>
                    </div>
                  </div>
                </div>

                <div class="full-width-flex review">
                  <h6>Review:</h6>
                  <p>" <%= @reviews.find_by(booking_id: booking.id).comment %> "</p>
                </div>
                <% if current_user.chef %>

                  <div class="footer" data-accept-button-target="buttons">
                    <%= render "accept_reject_buttons", booking: booking %>

                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>
