<div class="container">
  <%= simple_form_for @meal do |f| %>
    <%= f.input :name %>
    <%= f.input :category, as: :radio_buttons, collection: Meal::CATEGORIES %>
    <%= f.input :ingredients %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
