<div class="banner" style="background-image: linear-gradient(rgba(30,30,30,0.3), rgba(0,0,0,0.3)), url(<%= image_path("offers/" + @offer.title.downcase) %>);">
 <div class="blur">
  <h2><%= title %></h2>
 </div>
</div>

<div id="show-offer" class="container-fluid px-5 position-relative">
  <div class="offer-details bg-light rounded">
    <div class="banner text-white rounded w-100 p-5 d-flex align-items-center justify-content-between" style="background-image: linear-gradient(rgba(10,10,10,0.2), rgba(0,0,0,0.2)), url(<%= image_path("users/" + @offer.user.first_name.downcase) %>); background-size: contain; background-repeat: no-repeat;">
      <h3>Your chef: <%= @offer.user.first_name %></h3>
    </div>
    <% @offer.meals.each do |meal| %>
      <div class="d-flex py-4 px-3 border-bottom">
        <div>
          <% if meal.photo.present? %>
            <%= cl_image_tag meal.photo.key %>
          <% else %>
            <%= image_tag "meals/beef.jpg"%>
          <% end %>
        </div>
        <div class ="ms-3">
          <h4><%= meal.name %></h4>
          <h6>Ingredients:</h6>
          <p><%= meal.ingredients %></p>
        </div>
      </div>
    <% end %>
  </div>
