<div class="banner" style="background-image: linear-gradient(rgba(30,30,30,0.3), rgba(0,0,0,0.3)), url(<%= image_path("offers/" + @offer.title.downcase) %>);">
 <div class="blur">
  <h2><%= title %></h2>
 </div>
</div>

<div class="container-fluid mt-4 position-relative">
  <div class="offer-details bg-light rounded border">
    <div class="banner text-white rounded w-100 p-5 d-flex align-items-end justify-content-center" style="background-image: linear-gradient(rgba(10,10,10,0.2), rgba(0,0,0,0.2)), url(<%= image_path("users/" + @offer.user.first_name.downcase) %>); background-size: contain; background-repeat: no-repeat;">
      <h3>Your chef: <%= @offer.user.first_name %></h3>
    </div>
    <% @offer.meals.each do |meal| %>
      <div class="d-flex mt-3 border-bottom">
        <div>
          <%= image_tag "meals/#{meal.name.downcase}"%>
        </div>
        <div class ="ms-3">
          <h4><%= meal.name %></h4>
          <ul class="list-inline">
            <% JSON.parse(meal.ingredients).each do |ingredient| %>
              <li class="list-inline-item"><%= ingredient %> |</li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
