  <div class="border bg-light p-3">
    <%= simple_form_for [@offer] do |f| %>
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :price_per_person %>
    <%= f.input :photo, as: :file %>
    <%= f.association :meals, collection: Meal.where(user_id: current_user) %>
    <%= f.submit class: "btn btn-secondary" %>
    <% end %>
  </div>
