<div class="container-fluid banner" style="background: url('assets/landing/meal-landing.jpeg'); background-size: cover; background-position: center;">
  <div class="blur">
    <h4>All offers</h4>
  </div>
</div>

<div class='container'>
<h1 class='d-flex justify-content-center mt-5 pt-5' style='color: #0B211C'>Search for offer category</h2>
<%= form_with url: offers_path, method: :get, class: "d-flex search-bar-offer" do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "eg. Japanese, french.."
  %>
  <%= submit_tag "Search", class: "btn btn-secondary" %>
<% end %>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-3 pb-3">
        <%= link_to(offer_path(offer)) do %>
          <div class="card card-offer">
            <% if offer.photo.present? %>
              <%= cl_image_tag offer.photo.key, class: "image-offer" %>
            <% else %>
              <%= image_tag "offers/#{offer.title.downcase}.jpg", class: "image-offer" %>
            <% end %>
            <div class="card-body d-flex justify-content-between align-items-center">
              <div class="left-card-body">
                <h6 class="card-subtitle text-muted"><%= User.find(offer.user_id).first_name %></h6>
                <h5 class="card-title"><%= offer.title %></h5>
                <p class="card-text">From <%= offer.price_per_person %>€/person</p>
              </div>
              <div class="right-card-body">
                <% @reviews = Review.where(booking_id: Booking.find_by(offer_id: offer.id)) %>
                <% if @reviews.length > 0 %>
                  <% @reviews.each do |review| %>
                    <% @average = 0  %>
                    <% @average += review.rating  %>
                  <% end %>
                  <p> <%= (@average / @reviews.length) %> <i class="fa-solid fa-star"></i></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
