<%= render "offers/offer_details", title: @offer.title %>
  <div class="offer-booking border bg-light p-3">
    <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :date, html5: true %>
    <%= f.input :comments %>
    <%= f.input :number_of_guests %>
    <%= f.submit class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
